<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usuario.inventoryFragment">

    <application
        android:name="com.example.usuario.inventoryFragment.ui.inventory.InventoryAplicaction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.usuario.inventoryFragment.SplashActivity" />
        <activity
            android:name="com.example.usuario.inventoryFragment.ui.login.LoginViewImp"
            android:theme="@style/LoginTheme">

        </activity>
        <activity android:name="com.example.usuario.inventoryFragment.DashBoardActivity"></activity>
        <activity android:name="com.example.usuario.inventoryFragment.ui.inventory.InventoryActivity" />
        <activity android:name="com.example.usuario.inventoryFragment.ConstraintActivity" />
        <activity android:name="com.example.usuario.inventoryFragment.ui.dependency.DependencyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.usuario.inventoryFragment.ui.sector.SectorActivity"></activity>
        <activity android:name="com.example.usuario.inventoryFragment.ui.prefs.GeneralSettingActivity" />
        <activity android:name="com.example.usuario.inventoryFragment.ui.prefs.AccountSettingActivity"></activity>
        <activity android:name="com.example.usuario.inventoryFragment.ui.about.AboutActivity"></activity>
    </application>
</manifest>